/* @import "tailwindcss"; */

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}  */

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

@media (min-height: 850px) {
  .mainContent {
    min-height: calc(100vh - 60px); /* 100% height minus height of footer */
  }
  .footer {
    display: flex;
    justify-content: end;
    font-size: 9px;
  }
}

@media (max-height: 850px) {
  .mainContent {
    min-height: 100vh;
  }
  .footer {
    font-size: 9px;
  }
}

#game-board {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.zurdleTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.enterWord {
  height: 100%;
  align-items: center;
}

.doneMessage {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -1.5rem;
  margin-bottom: 1rem;
}

.letter-box {
  border: 2px solid gray;
  border-radius: 3px;
  margin: 2px;
  font-size: 3rem;
  font-weight: 700;
  height: 4rem;
  width: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

.filled-box {
  border: 2px solid black;
}

.letter-row {
  display: flex;
}

#keyboard-cont {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#keyboard-cont div {
  display: flex;
}

.second-row {
  margin: 0.5rem 0;
}

.keyboard-button {
  font-size: 1rem;
  font-weight: 700;
  padding: 0.5rem;
  margin: 0 2px;
  cursor: pointer;
  text-transform: uppercase;
}

.key-text-small {
  font-size: 0.7rem;
}

.setWordInput {
  width: 250px;
  text-transform: uppercase;
}

.green-box {
  background-color: green;
  border: 2px solid green;
}

.yellow-box {
  background-color: yellow;
  border: 2px solid yellow;
}

.gray-box {
  background-color: gray;
  border: 2px solid gray;
}
